*{
  margin: 0;
  padding: 0;
  border: 0em;

}
.div1{
  background-color: grey;
  height: 100px;
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border: 1.3em;
  border-color: white;
}

#welcome_section{
    background-image: url(./media/web\ dev\ 7.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-family: fantasy;
}

.project_tile{
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2{
  text-align: center;
  
}
.welcome_content{
  text-align: center;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;

}
.explore{
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 8px 14px 8px 14px;
  cursor: pointer;
}
.explore:hover{
  background-color: green;
}
.skills{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 14px 8px 14px;
  cursor: pointer;
  margin-left: 25px;
}
.skills:hover{
  background-color: green;
}
.button{
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 14px 8px 14px;
  transition: 0.19s;
}
.button:hover{
  background-color: rgb(56, 19, 13);
  opacity: 0.8;
}
.button:active{
  opacity: 0.8;
}
main{
  background-color: rgb(104, 90, 10);
  padding: 0;
}
.my_contacts{
  color: white;
  text-align: center;
}
.Contacts{
  margin-top: 200px;
}
.Email_button{
  color: black;
  background-color: white;
  border: none;
  padding: 8px 14px 8px 14px;
  cursor: pointer;
}
.Email_button:hover{
  background-color: wheat;
}

.Tel_button{
  background-color: white;
  color: black;
  border: none;
  padding: 8px 14px 8px 14px;
  cursor: pointer;
  margin-left: 25px;
}
.Tel_button:hover{
  background-color: wheat;
}

.linkedin_profile{
  background-color: white;
  color: black;
  border: none;
  padding: 8px 14px 8px 14px;
  cursor: pointer;
  margin-left: 25px;
}

.linkedin_profile:hover{
  background-color: wheat;

}

section:last-of-type{
  background-color: azure;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  text-align: center;
}
li{
  margin-bottom: 5px;
}

.image{
  max-width: 100%;
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 2px solid #333;
  cursor: pointer;
}

figcaption{
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.Biodata{
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}